body {
    background-color: rgb(248, 250, 252);
    margin: 0px;
}

main {
    display: flex;
    flex-flow: column-wrap;
    align-items: start;
    align-content: center;
}

header {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}

nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 20%;
    margin: 2em;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    margin: 0px;
}

.uperLayerElement {
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.mainContainer {
    background-color: (248, 250, 252);
    border-radius: 5px;
    margin: 2em;
}

.container {
    border: solid white 2px;
    border-radius: 5px;
    padding: 1.2em;
    margin: 2em;
}

.sideNavButton {
    border: solid white 2px;
    border-radius: 2px;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.secondaryNavButton {
    margin-top: 2em;
}

.upperContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 1.4em auto;
    padding: 0.7em;
    border: solid black 2px;
    border-radius: 5px;
    background-color: rgb(240, 250, 255);
}

.upperContainer img {
    max-width: 50px;
    margin: 0.7em;
}

.upperContainer img, .upperContainer p {
    display: inline-block;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#presentation {
    width: 50%;
    text-align: center;
}

#projectList {
    width: 30%;
    text-align: center;
}

#contactInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    width: 80%;
}

@media only screen and (min-width: 1008px)  {
    body {
        font-size: 24px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;      
    }

    nav {
        display: block;
        max-width: 100%;
        width: 100%;
    }

    .sideNavButton {
        width: 100%;
        display: inline-block;
        padding: 0.5em 0px;
    }

    .secondaryNavButton {
        margin-top: 1em;
    }

    .container {
        width: 100%;
        display: inline-block;
    }

    .upperContainer {
        padding: 0.5em 0px;
    }

    .upperContainer img {
        max-width: 50px;
        margin: 0.7em 0px;
    }

    #presentation {
        width: 100%;
    }

    #projectList {
        width: 100%;
    }

    #contactInfo {
        width: 100%;
    }
}

@media (orientation: portrait) {
    main {
        flex-direction: row;
        flex-wrap: wrap;      
    }

    nav {
        display: block;
        max-width: 100%;
        width: 100%;
    }

    .sideNavButton {
        width: 100%;
        display: inline-block;
        padding: 0.5em 0px;
    }

    .secondaryNavButton {
        margin-top: 1em;
    }

    .container {
        width: 100%;
        display: inline-block;
    }

    .upperContainer{
        padding: 0.5em 0px;
    }

    .upperContainer img {
        max-width: 50px;
        margin: 0.7em 0px;
    }

    #presentation {
        width: 100%;
    }

    #projectList {
        width: 100%;
    }

    #contactInfo {
        width: 100%;
    }
}